@import url(https://db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);
@import url(https://db.onlinewebfonts.com/c/3cff9206b4c8d578245ef1aaeeaf9e84?family=SF+Pro+Display);
*{
    padding: 0;
    margin: 0;
    
}



.navbar {
    background-color:black;
    height: 47px;
    opacity: .9;
  }
  .navbar-nav {
    margin:auto;
  }

  .nav-link {
    margin:20px 35px;
    color:#fff;
  }

.navbar-toggler-icon{
  color: red !important;
}

  .img-hover{
     
  opacity:.7;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }
  

    .img-hover:hover {
    opacity: 1;
  }

  #search{
      transform: translateY(10px);  
  }



.add{
  width: 100%;
  height: 44px;
  margin-top: 47px;
  margin-bottom:-1%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-size: 15px;
}

.add-h{
  color:black;
}
.add-h:hover{
  color: #fff;
}

.sec-1{
  background-image: url('bg-img/home-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 800px; 
}
.section-1{
  color: #fff;
  padding-top: 4%;
}

.section-1 h1{
  font-family:"SF Pro Display";
  font-size: 50px;
}

.section-1 h4{
  font-size: 25px;
  font-weight: 100;

  font-family: "SF Pro Display";
}

.section-1 a{
  font-size: 22px;
  font-weight: 500;
  margin-left: 20px;
}

.row{
  font-size: 24px;
  position: relative;
  top: 400px;
}


.t-r-1{
  position: relative;
  left: 200px;
}

.t-l-1{
  position: relative;
  left: -135px;
}


.h-b{
  color: gray;
  font-size: 20px;
}

.h-b-1{
  font-size: 19px;
  font-weight: 600;
}

.t-r{
 position: relative;
  top: -120px;
  left: -90px;
  
}

.t-l{
 position: relative;
 top: -263px;
 left: 150px;
}

.sec-1-b{
  position: relative;
  top: 600px;
}

/*--section 2---*/

.sec-2{
  background-image: url(bg-img/hero__dvsxv8smkkgi_large.jpg);
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height:750px;
  padding-top:400px;
}

.title-2{
  position:relative;
  top:-400px;
}

.title-2 h1{
  font-family: "SF Pro Display";
  font-size: 55px;
  padding-top: 4%;
}

.title-2 p{
  font-size: 28px;
  margin-top: -1%;
}

.section-2 .span{
  color: rgb(86, 153, 209);
  font-size:21px;
  position: relative;
  top: -17px;
  left: -13px;
  margin-left: 3%;
}

.sec-row{
  transform:translateY(-100px);
}

.row .mr{
  position: relative;
  top: 5px;
}

/*---section 3--*/

.sec-3{
  background-image: url(bg-img/mini.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height:800px;
}

.title-mini{
  text-align: center;
  position: relative;
  top: 550px;
  left: -8px;
  font-size: 20px;
}

.title-mini h1{
 font-family: "SF Pro Display";
 font-size: 52px;

}

.title-mini .span{
  color: rgb(86, 153, 209); 
  margin-left: 2%;
}

/*-----section 4 --*/

.sec-4{
  position:relative;
  top:-270px;
  
}

.product-1{
  background-image: url(bg-img/tile__cauwwcyyn9hy_large.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  position:relative;
  top:40px;
    width: 100%;
  height: 500px;
  
}

.sec-4-title-1{
  position:relative;
  top:-17px;
}

.sec-4-title-1 h1{
  font-family: "SF Pro Display";
  font-size:px;
}

.row{
  width:100%;
  margin-top:-230px;
}

.product-2{
  background-image: url(bg-img/watch-sec-4.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  background-color: black;
  color: #fff;
   width: 100%;
  height: 540px;
  position:relative;
}

#img-sepia{
 
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 5%;

}

.product-2 p{
 padding-top:2%;
}

.span-4{
  font-size:17px;
 color: rgb(86, 153, 209);
 position:relative;
 top:-18px;
}


/*--section-5--*/

.sec-5{
  position:relative;
  top:-40px
  
}

.product-1-1{
  background-image: url(bg-img/se-watchs.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  position:relative;
  top:40px;
    width: 100%;
  height: 530px;
  
}

.sec-4-title-1-1{
  position:relative;
  top:-17px;
}

.sec-4-title-1-1 h1{
  font-family: "SF Pro Display";
  font-size:px;
}

.row{
  width:100%;
  margin-top:-230px;
}

.product-2-2{
  background-image: url(bg-img/i-pad-img.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  position:relative;
  top:20px;
}

.sec-4-title-2-2{
  position:relative;
  top:300px;
}


.span-4-2{
  font-size:17px;
 color: rgb(86, 153, 209);
 position:relative;
 top:-5px;
 margin-left:5%;
}

/*--section-6--*/

.sec-6{
  position:relative;
  top:50px
}

.product-3-1{
  background-image: url(bg-img/one-img.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  position:relative;
  top:40px;
  height: 770px;
  
}

.sec-4-title-3-1{
  position:relative;
  top:170px;
}
.sec-4-title-3-1 p{
  font-size:13px;
  color:rgb(134, 93, 45);
  transform: translateY(16px);
}

.sec-4-title-3-1 h5{
font-size:19px;
color:black;
padding-top: 3%;
}

.row{
  width:100%;
}

.product-2-2-2{
  background-image: url(bg-img/tv-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position:relative;
  top:20px;
  left: 10px;
  margin-top:170px;
}

.sec-4-title-2-2-2{
  position: relative;
  top: 360px;
  left: 0;
  bottom: 0px;
  right: 0;
  color: #fff;
  margin-top: 5%;
}

#one-tv{
  padding-top:10%;
}
.span-4-3-1{
  font-size:16px;
 color: rgb(86, 153, 209);
 position:relative;
 top:-5px;
}

.span-4-2{
  position: relative;
  bottom: 200px;
}

/*---ection footer--*/

.sec-footer{
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin-top: 36%;
  background-color: rgb(219, 216, 216);
}



.ct-f{
  width: 78%;
  font-size: 13px;
  color: rgb(194, 193, 193);
  padding-top: 2%;
}

.section-footer{
  transform: translateY(-50%);
}

.foot-s-l{
  font-size: 13px;
  color: black;
  display: block;
}

.foot-s-l h6{
  font-size: 12px;
  font-family: "SF Pro Display";
}

.foot-s-l a{
color: black;
line-height: 25px;
}

.cp-r{
   margin-top: 100px;
   padding-top: 100px;
   transform: translateY(40%);
}

.width{
  display: inline-block;
  width: 1px;
  height: 12px;
  margin:10px;
  transform: translateY(12px);
  background-color: rgb(189, 189, 189);
}

.d-flex{
  margin-top: 6%;  
}

.space{
  transform: translateY(-17px);
  position: relative;
  top: 0;
  left: 3%;
  bottom: 0;
  right: 0;
  color: black;
}

.text-end{
  transform: translateX(288px);
}


/*madia --*/

@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  

 
  .add{
        text-align: center;
        padding-top: 13%;
        padding-bottom: 12%;
  }
   .add-h{
     font-size: 14px;
     width: 290px;
     line-height: 20px;
   }

   .sec-1{
    background-image: url('bg-img/hero__dvsxv8smkkgi_small_2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     
  }

  .section-1 h1{
     font-size: 29px;
     padding-top: 11%;
  }

  .sec-1-b .t-r-1{
      position: relative;
     left: -0px;
     top: -13px;
     margin-left: 10px;
      font-size: 18px;
  }

  .sec-1-b .t-l-1{
    position: relative;
    left: 10px;
    padding-top: 10px;
    font-size: 17px;
    
}

.h-b-1{
  letter-spacing: -0.087em;
}

.h-b{
  font-size: 19px;
}



  .section-1 h4{
    font-size: 18px;
    font-weight:100px ;
 }
  .section-1 a{
    font-size: 19px;
  }


.title-2 h1{
  font-size: 30px;
  margin-top: 15px;
}

.title-2 p{
  font-size: 17px;
  margin-top: -5px;
}

.span a{
  font-size: 19px;
}

.t-r{
  position: relative;
  top: 0px;
  left: 50px;
  margin-top:-10px
  
}

.t-l{
  position: relative;
  top: -200px;
  left: 50px;
  padding-top: 230px;

}


.sec-3{
   background-repeat: no-repeat;
   background-size:740px;
}

.title-mini h1{
  font-size:30px;
}


.sec-4-title-1 h1{
     display:none;
}


.product-1{
    background-image: url(bg-img/ipad-air-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:700px;
  margin-bottom:-50px;
  position:relative;
  top:-50px;
  
}

.sec-4-title-1 p{
  font-size:19px;

}

.sec-4-title-1{
  position:relative;
  top:400px;
}

}

.sec-2{
  background-size: cover;
  width: 300px;
  height: auto;
}

.title-2{
  font-size: 11px;
}

