@import url(https://db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);
@import url(https://db.onlinewebfonts.com/c/3cff9206b4c8d578245ef1aaeeaf9e84?family=SF+Pro+Display);
*{
    padding: 0;
    margin: 0;
    
}



.navbar {
    background-color:black;
    height: 47px;
    opacity: .9;
  }
  .navbar-nav {
    margin:auto;
  }

  .nav-link {
    margin:20px 35px;
    color:#fff;
  }

 img{
     
  opacity:.7;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }
  

  img:hover {
    opacity: 1;
  }

  .search{
      transform: translateY(10px);  
  }



.add{
  width: 100%;
  height: 44px;
  margin-top: 47px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 71, 185);
  color: #fff;
  font-size: 15px;
}

.add-h{
  color: #fff;
}
.add-h:hover{
  color: #fff;
}

.add-2{
  width: 100%;
  height: 44px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.container-fluid{
  background-image: url('bg-img/home-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 800px; 
}
.section-1{
  color: #fff;
  padding-top: 4%;
}

.section-1 h1{
  font-family:"SF Pro Display";
  font-size: 50px;
}

.section-1 h4{
  font-size: 25px;
  font-weight: 100;

  font-family: "SF Pro Display";
}

.section-1 a{
  font-size: 22px;
  font-weight: 500;
  margin-left: 20px;
}

.row{
  font-size: 24px;
  position: relative;
  top: 400px;
}

.h-b{
  color: gray;
  font-size: 22px;
}

.t-r{
  transform: translateX(200px);
  
}

.t-l{
  transform: translateX(-200px);
}


/*--section 2---*/

.sec-2{
  background-image: url(bg-img/hero__dvsxv8smkkgi_large.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.title-2 h1{
  font-family: "SF Pro Display";
  font-size: 55px;
  padding-top: 4%;
}

.title-2 p{
  font-size: 28px;
  margin-top: -1%;
}

.section-2 .span{
  color: rgb(86, 153, 209);
  font-size:21px;
  position: relative;
  top: -17px;
  left: -13px;
  margin-left: 3%;
}

.sec-row{
  padding-top: 2%;
}

.row .mr{
  position: relative;
  top: 16px;
}

/*---section 3--*/

.sec-3{
  background-image: url(bg-img/mini.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.title-mini{
  text-align: center;
  position: relative;
  top: 550px;
  left: -8px;
  font-size: 20px;
}

.title-mini h1{
 font-family: "SF Pro Display";
 font-size: 52px;

}

.title-mini .span{
  color: rgb(86, 153, 209); 
  margin-left: 2%;
}