[Desktop Entry]
Encoding=UTF-8
Name=Link to Not specified
Type=Link
URL=https://www.apple.com/v/home/o/images/heroes/iphone-12-pro/hero__dvsxv8smkkgi_large.jpg
Icon=image-jpeg
Name[en_IN]=bg-home
