[Desktop Entry]
Encoding=UTF-8
Name=Link to Not specified
Type=Link
URL=https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__bmix8075eg4i_large.svg
Icon=image-svg+xml
Name[en_IN]=ing-1
