[Desktop Entry]
Encoding=UTF-8
Name=Link to Not specified
Type=Link
URL=https://www.apple.com/v/home/o/images/logos/watch-series-6/logo__dcojfwkzna2q_large.png
Icon=image-png
Name[en_IN]=series 6
